body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    background-image: url("../images/dynamic-style.png");
}

.topbar {
    background-color: white;
    border-bottom: 2px solid #ccc;
    height: 150px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    margin-left: 150px;
    margin-top: 40px;
    width: 250px;
    height: 70px;
    text-align: center;
    padding-top: 40px;
    float: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;

}

#navside {
    vertical-align: middle;
    text-align: center;
    line-height: 500%;
    margin-right: 10%;
    margin-top: 30px;
    float: right;
 }

 li {
    display: inline-block;  
    margin-right: 20px;
 }

 a {
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }

 .container {
    background-color: white;
    color: #777;
    border: 1px solid;
    border-color: #ccc;
    width:60%;
    height: 60%;
    display: inline-block;
    margin-left: 20%;
  }

  #portfolio {
    color: #4aaaa5;
    margin: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
 }



.portfoliobox {

  width: 200px;
  height: 200px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  position: relative;
}

.portfoliobox a {
   position: absolute;
   background-color:#4aaaa5;
   bottom: 10px;
   width: 100%;
   text-align: center;
   color: white;
   padding: 10px 0;
}


#box1 {
   background-image: url("../images/notes.png");
   
}
  
#box2{
   background-image: url("../images/planner.png");
   
}

#box3{
   background-image: url("../images/weather.png");
   
}

#box4{
   background-image: url("../images/quiz.png");
}

#box5{
   background-image: url("../images/readme.png");
}

#box6{
   background-image: url("../images/password.png");
}

footer{
   border-top: 8px solid #4aaaa5;
   background-color: #777;
   color: #ccc;
   text-align: center;
   margin-top: 4%;
   padding-bottom: 36px;
   
}
